<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" 
integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" 
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384
Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft
 +2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384
wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>MNIST FRONTEND</title>
</head>
<body style="background-color: #EEEEEE;">
  <nav style="background-color: #3A98B9;" class="navbar navbar-light">
    <a href="#" class="navbar-brand" style="color: white;">MNIST-frontend</a>
  </nav>

  <div class="container" style="max-width:600px;">
    <div class="canvas-container"  style="display: flex; justify-content: center; margin: 20px 0;" >
      <canvas id="canvas" class="border border-info"width="200" height="200"></canvas>
    </div>
    
    <input type="button" id="send" value="判定" class="btn btn-outline-primary w-100" style="transition: background-color 0.3s;"><br>
      <style>
        #send:hover {
        background-color: #FFF1DC;
        color: black;
        }
      </style>
    <input type="button" value="clear" id="clear" class="btn btn-outline-secondary w-100" style="transition: background-color 0.3s; margin-top: 10px;"><br>
      <style>
        #clear:hover {
        background-color: #E8D5C4;
        color: black;
        }
    </style>
    
    <form method="post" action="/estimate" enctype="multipart/form-data" style="margin-top: 10px;">
      <input type="file" name="img" class="btn btn-outline-secondary w-100" style="transition: background-color 0.3s;"><br>
      <style>
        input[type="file"]:hover {
          background-color: #3A98B9;
          color: black;
        }
      </style>
    </form>
    <table id="result" class="table"></table>
  </div>
    <script>
      var cnvs = document.getElementById('canvas');
      var ctx = cnvs.getContext('2d');
      const cnvWidth = 200;
      const cnvHeight = 200;
  
      var cnvColor = "0, 0, 0";  // 線の色
      var cnvBold = 20;  // 線の太さ
      var clickFlg = 0;  // クリック中の判定 1:クリック開始 2:クリック中
      var bgColor = "rgb(255,255,255)";
      ctx.fillStyle = bgColor;
      ctx.fillRect(0,0,cnvWidth,cnvHeight); 
   
      // canvas上でのイベント
      $("#canvas").mousedown(function(){
        clickFlg = 1; // マウス押下開始
      }).mouseup(function(){
        clickFlg = 0; // マウス押下終了
      }).mousemove(function(e){
        // マウス移動処理
        if(!clickFlg) return false;
        draw(e.offsetX, e.offsetY);
      });
   
      // 描画処理
      function draw(x, y) {
        ctx.lineWidth = cnvBold;
        ctx.strokeStyle = 'rgb('+cnvColor+')';
        // 初回処理の判定
        if (clickFlg == "1") {
          clickFlg = "2";
          ctx.beginPath();
          ctx.lineCap = "round";  //　線を角丸にする
          ctx.moveTo(x, y);
        } else {
          ctx.lineTo(x, y);
        }
        ctx.stroke();
      };
   
    
      // 描画クリア
      $("#clear").click(function(){
        ctx.clearRect(0,0,cnvWidth,cnvHeight);
        ctx.fillStyle = "white";
        ctx.fillRect(0, 0, cnvWidth, cnvHeight);
        $("#result").empty();
        $("form")[0].reset();
      });

      $("#send").click(function(){
      // canvasに描画されているか判定
      var imageData = ctx.getImageData(0, 0, cnvWidth, cnvHeight).data;
      var isBlank = true;
      var fileInput = document.querySelector('input[type="file"]');
      for (var i = 0; i < imageData.length; i += 4) {
        if (
          imageData[i] !== 255 ||
          imageData[i + 1] !== 255 ||
          imageData[i + 2] !== 255 ||
          imageData[i + 3] !== 255
        ) {
          isBlank = false;
          break;
        }
      }
      //canvasが空かつファイルが選択されていない場合
      if (isBlank === true && (fileInput.files.length === 0)) {
        alert("Canvas is blank or mo file selected.");
        return;
      }

      //canvasに描画された画像を送信
      if (isBlank === false) {
        canvas = document.getElementById('canvas');
        var base64 = canvas.toDataURL("image/png");
        var fData = new FormData();
      fData.append('img', base64);
        $.ajax({
          //画像処理サーバーに返す場合
          url: 'http://127.0.0.1:10000/estimate',   
          type: 'POST',
          data: fData ,
          contentType: false,
          processData: false,
          success: function(data, dataType) {
              //非同期で通信成功時に読み出される [200 OK 時]
              console.log('Success', data);
              $("#result").empty();
              $("#result").append("<tbody>")
              jQuery.each(data, function(k, v) {
                  $('#result').append("<tr><td>"+k+"</td><td>" + v.toString()+"</td></tr>");
              });
              $("#result").append("</tbody>")
              $("#result").addClass("table-striped");
              
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              //非同期で通信失敗時に読み出される
               console.log('Error : ' + errorThrown);
          }
        });
      } 
      else{
        var fData = new FormData();
        var img_files = $("*[name=img]")[0].files[0];
        fData.append("img", img_files);
        $.ajax({
          //画像処理サーバーに返す場合
          url: 'http://127.0.0.1:10000/estimate_file',
          type: 'POST',
          data: fData,
          contentType: false,
          processData: false,
          success: function(data, dataType) {
              //非同期で通信成功時に読み出される [200 OK 時]
              console.log('Success', data);
              $("#result").empty();
              $("#result").append("<tbody>")
              jQuery.each(data, function(k, v) {
                  $('#result').append("<tr><td>"+k+"</td><td>" + v.toString()+"</td></tr>");
              });
              $("#result").append("</tbody>")
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              //非同期で通信失敗時に読み出される
               console.log('Error : ' + errorThrown);
          }
        });
      }

    });
    </script>
</body>
</html>
